<div class="container-fluid">
  <div class="container xd-container">
    <h2>Offerts</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Titulo</th>
          <th>Detalle</th>
          <th>Descuento</th>
          <th>FechaDescuento</th>
        </tr>
        </thead>

        <tbody>
        <!-- <a  routerLink="/offerts/{{offert.id}}" routerLinkActive="active" -->
        <tr *ngFor="let offert of offerts">
          <td class="offertFullName"><a routerLink="/offerts/{{offert.id}}" routerLinkActive="active"
                                       (click)="onSelect(offert)">{{offert.titulo}}</a></td>
          <td>{{offert.detalle}}</td>
          <td>{{offert.descuento}}</td>
          <td>{{offert.fechaCaducidad}}</td>
          <td>
        
        </td>
        </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-default" (click)="addOffert()">Add Offert</button>
      </div>
    </div>
  </div>
</div>
