<div class="container-fluid">
  <div class="container xd-container">

    <h2>Offert Information</h2>


    <table class="table table-striped">
      <tr>
        <th>Titulo</th>
        <td><b>{{offert.titulo}}</b></td>
      </tr>
      <tr>
        <th>Detalle</th>
        <td>{{offert.detalle}}</td>
      </tr>
      <tr>
        <th>Descuento</th>
        <td>{{offert.descuento}}</td>
      </tr>
      <tr>
        <th>FechaCaducidad</th>
        <td>{{offert.fechaCaducidad}}</td>
      </tr>
    </table>

    <button class="btn btn-default" (click)="gotoOffertsList()">< Back</button>
    <button class="btn btn-default" (click)="editOffert()">Edit Offert</button>
    

  </div>
</div>
